@model IEnumerable<ArticulosWeb.Models.Repuesto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Nombre)*@
                <label for="male">Nombre</label>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Precio)*@
                <label for="male">Precio</label>
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>*@
            <th>
                @*@Html.DisplayNameFor(model => model.Disponible)*@
                <label for="male">Disponible</label>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.AutoIdAutoNavigation)*@
                <label for="male">Auto</label>
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.CategoriaIdCategoriaNavigation)
            </th>*@
            <th>
                @*@Html.DisplayNameFor(model => model.InventarioIdAppInventarioNavigation)*@
                <label for="male">Gestion de Registro</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Disponible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutoIdAutoNavigation.Marca)<br />
                @Html.DisplayFor(modelItem => item.AutoIdAutoNavigation.Modelo)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.CategoriaIdCategoriaNavigation.NombreCategoria)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.InventarioIdAppInventarioNavigation.InventarioId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RepuestoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RepuestoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RepuestoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
