@model ArticulosWeb.Models.Galeria

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Galeria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreFoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreFoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionFoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionFoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepuestoIdRepuestoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepuestoIdRepuestoNavigation.RepuestoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GaleriaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
