@model ArticulosWeb.Models.Galeria

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle</h1>

<div>
    <h4>Galeria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreFoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreFoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class="col-sm-10">
            @*@Html.DisplayFor(model => model.Foto)*@
            <br />
            <img src="@ViewBag.ImageData" height="200" width="200" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionFoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionFoto)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.RepuestoIdRepuestoNavigation)*@
            <label for="male">Repuesto</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepuestoIdRepuestoNavigation.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GaleriaId">Editar</a> |
    <a asp-action="Delete" asp-route-id="@Model.GaleriaId">Borrar</a> |
    <a asp-action="Index">Volver a lista</a>
</div>
