@model IEnumerable<ArticulosWeb.Models.Galeria>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreFoto)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.DescripcionFoto)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.RepuestoIdRepuestoNavigation)*@
                <label for="male">Repuesto</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreFoto)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Foto)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionFoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RepuestoIdRepuestoNavigation.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GaleriaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GaleriaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GaleriaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
